@using NewLife.Model;
@{
    var user = ManageProvider.Provider.Current as IUser;

    var fact = ObjectContainer.Current.Resolve<IMenuFactory>();

    var Menus = fact.Root.Childs;
    if (user != null && user.Role != null)
    {
        Menus = fact.GetMySubMenus(fact.Root.ID);
    }

    // 如果顶级只有一层，并且至少有三级目录，则提升一级
    if (Menus.Count == 1 && Menus[0].Childs.Count < Menus[0].AllChilds.Count) { Menus = Menus[0].Childs; }

    String[] icos = new String[] { "fa-tachometer", "fa-desktop", "fa-list", "fa-pencil-square-o", "fa-list-alt", "fa-calendar", "fa-picture-o", "fa-tag", "fa-file-o" };
    Int32 _idx = 0;
}
<ul class="nav nav-list">
    @foreach (IMenu menu in Menus.Where(m => m.Visible))
    {
        if (_idx >= icos.Length) { _idx = 0; }
        <li @(menu == Menus[0] ? "class=\"active open\"" : "")>
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa @icos[_idx++]"></i>
                <span class="menu-text">@menu.DisplayName</span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                @foreach (IMenu menu2 in menu.Childs.Where(m => m.Visible))
                {
                    <li>
                        @if (menu2.Childs.Count > 0)
                        {
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @menu2.DisplayName
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Content(menu2.Url)" target="main">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @menu2.DisplayName
                            </a>
                        }

                        <b class="arrow"></b>
                        <ul class="submenu">
                            @foreach (IMenu menu3 in menu2.Childs.Where(m => m.Visible))
                            {
                                <li>
                                    <a href="@Url.Content(menu3.Url)" target="main">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        @menu3.DisplayName
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </li>
    }
</ul>
<!-- /.nav-list -->
