@using System.Diagnostics;
@using System.Collections;
@using System.Reflection;
@using System.Runtime.Versioning;
@using NewLife.Common;
@{
    Layout = NewLife.Cube.Setting.Current.Layout;

    ViewBag.Title = "程序集列表";

    var asm = Assembly.GetExecutingAssembly();
    var att = asm.GetCustomAttribute<TargetFrameworkAttribute>();
    var ver = att.FrameworkDisplayName ?? att.FrameworkName;
}

<table class="table table-bordered table-hover table-striped table-condensed">
    <tr>
        <th colspan="6">
            程序集列表(@AppDomain.CurrentDomain.FriendlyName )
        </th>
    </tr>
    <tr>
        <th>名称</th>
        <th>标题</th>
        <th>文件版本</th>
        <th>内部版本</th>
        <th>编译时间</th>
        <th>路径</th>
    </tr>
    @foreach (AssemblyX item in ViewBag.Asms)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @item.FileVersion
            </td>
            <td>@item.Version</td>
            <td>@item.Compile.ToFullString()</td>
            <td>
                @{
                    var location = String.Empty;
                    try
                    {
                        location = item.Asm.Location;
                    }
                    catch { }
                }
                @location
            </td>
        </tr>
                    }
</table>