@using NewLife.Model;
@{
    var user = ManageProvider.Provider.Current as IUser;

    var fact = ObjectContainer.Current.Resolve<IMenuFactory>();

    var Menus = fact.Root.Childs;
    if (user != null && user.Role != null)
    {
        Menus = fact.GetMySubMenus(fact.Root.ID);
    }
}
<ul class="nav nav-list">
    @foreach (IMenu menu in Menus)
    {
        <li @(menu == Menus[0] ? "class=\"active open\"" : "")>
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa <%= GetIco() %>"></i>
                <span class="menu-text"><%= menu.Name %></span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                @foreach (IMenu menu2 in menu.Childs)
                {
                    <li>
                        @if (menu2.Childs.Count > 0)
                        {
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @menu2.Name
                            </a>
                        }
                        else
                        {
                            <a href="@menu2.Url" target="main">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @menu2.Name
                            </a>
                        }

                        <b class="arrow"></b>
                        <ul class="submenu">
                            @foreach (IMenu menu3 in menu2.Childs)
                            {
                                <li>
                                    <a href="@menu3.Url" target="main">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        @menu3.Name
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </li>
    }
</ul>
<!-- /.nav-list -->
