@using System.Reflection
@using XCode
@using XCode.Configuration
@{
    var fact = EntityFactory.CreateOperate(ViewData.ModelMetadata.ModelType);
    var isNew = (Model as IEntity).IsNullKey;
}
<div class="panel panel-default">
    <div class="form-horizontal">
        @if (ViewBag.StatusMessage != null)
        {
            <div class="alert alert-success alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@ViewBag.StatusMessage</strong>
            </div>
        }
        @using (Html.BeginForm((isNew ? "Add" : "Edit"), null, new { id = Model[fact.Unique.Name] }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            foreach (var item in fact.Fields)
            {
                if (!item.PrimaryKey)
                {
                    if (item.Name == "Permission")
                    {
                        if (!isNew)
                        {
                            @Html.Partial("SetPermission", new { Role = Model });
                        }
                    }
                    else
                    {
                        <div class="form-group">
                            @Html.Partial("_Form_Item", new Pair(Model, item))
                        </div>
                    }
                }
            }
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="food">Bootstrap Multiselect</label>

                <div class="col-xs-12 col-sm-9">
                    <!-- #section:plugins/input.multiselect -->
                    <select id="Name2" name="Name2" class="multiselect" multiple="">
                        <option value="cheese" selected>Cheese</option>
                        <option value="tomatoes" selected>Tomatoes</option>
                        <option value="mozarella" selected>Mozzarella</option>
                        <option value="mushrooms">Mushrooms</option>
                        <option value="pepperoni">Pepperoni</option>
                    </select>

                    <!-- /section:plugins/input.multiselect -->
                </div>
            </div>
            @Html.Partial("_Form_Action", isNew)
        }
    </div>
</div>