@model XCode.EntityList<Role>
@{
    var fact = ViewBag.Factory as IEntityOperate;
    var page = ViewBag.Page as Pager;
}
<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("_List_Toolbar")
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th> <a href="@Html.Raw(page.GetSortUrl("ID"))">编号</a></th>
                    <th><a href="@Html.Raw(page.GetSortUrl("Name"))">名称</a></th>
                    <th><a href="@Html.Raw(page.GetSortUrl("IsSystem"))">系统角色</a></th>
                    <th><a href="@Html.Raw(page.GetSortUrl("Permission"))">权限</a></th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entity in Model)
                {
                    <tr>
                        <td>@entity.ID</td>
                        <td>@entity.Name</td>
                        @Html.Partial("_List_Data_Item", new Pair(entity, fact.Table.FindByName("IsSystem")))
                        <td>@entity.Permission</td>
                        <td>
                            @Html.Partial("_List_Data_Action", entity.ID)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <p>
            @Html.Partial("_List_Pager")
        </p>
    </div>
</div>