@using NewLife.Common;
@{
    var menu = ManageProvider.Menu.Current;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>@ViewBag.Title - @SysConfig.Current.DisplayName</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <!-- 页面内联样式 -->
    @RenderSection("css", required: false)

    <link rel="stylesheet" href="~/Content/ace/css/bootstrap-multiselect.css" />
    <!--[if lte IE 9]>
        <link rel="stylesheet" href="~/Content/ace/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <!--[if lte IE 9]>
        <link rel="stylesheet" href="~/Content/ace/css/ace-ie.min.css" />
    <![endif]-->

    <link rel="stylesheet" href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" type="text/css" />

    @*<link rel="stylesheet" href="~/Content/bootstrap-switch/bootstrapSwitch.css" type="text/css" />*@

    <!-- 最后引入基本样式 -->
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/css/font-awesome.min.css" />

    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap-theme.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap-responsive.min.css" type="text/css" />

    <!-- 文本字体 -->
    <link rel="stylesheet" href="~/Content/ace/css/ace-fonts.min.css" />
    <!-- ace 样式 -->
    <link rel="stylesheet" href="~/Content/ace/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <!-- JQuery作为一等公民，页面内部随时可能使用 -->
    <script src="~/Content/js/jquery-2.1.3.min.js"></script>
</head>
<body>
    <div class="panel panel-default">
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                @Html.Partial("_Layout_Nav")
            </ul>
        </div>
        <div class="page-content">
            <section class="content-wrapper main-content clear-fix">
                @Html.Partial("_Layout_Header")
                @RenderBody()
            </section>
        </div>
        @if (DbRunTimeModule.Enable)
        {
            <div class="panel-footer">
                @Html.Raw(DbRunTimeModule.GetInfo())
            </div>
        }
    </div>
    <!-- 最早引入基本脚本 -->
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    @*<script src="~/Content/js/jquery-ui.custom.min.js"></script>
        <script src="~/Content/js/jquery.ui.touch-punch.min.js"></script>*@
    <script src="~/Content/ace/js/bootstrap-multiselect.js"></script>

    <!-- ace 设置 -->
    <script src="~/Content/ace/js/ace.min.js"></script>
    <script src="~/Content/ace/js/ace-elements.min.js"></script>
    <script src="~/Content/ace/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="~/Content/js/html5shiv.min.js"></script>
    <script src="~/Content/js/respond.min.js"></script>
    <![endif]-->
    @*@Scripts.Render("~/bootstrap_js")*@
    @RenderSection("scripts", required: false)

    <!--日历控件支持-->
    @*<script src="~/Content/My97DatePicker/WdatePicker.js"></script>*@
    <script src="~/Content/DateTimePicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/DateTimePicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script>
        //$(function () {
        //    // 给所有type=date的input加上事件
        //    var dt = $('input[type=date]');
        //    if (!dt.data('datd-date-format')) {
        //        dt.data('datd-date-format', 'yyyy-MM-dd HH:mm:ss');
        //    }
        //    if (!dt.data('click')) {
        //        dt.click(function () { WdatePicker({ skin: 'whyGreen', dateFmt: dt.data('datd-date-format') }); });
        //    }
        //});
        $(function () {
            $('input[type=date]').each(function () {
                var df = $(this).attr('dateformat');
                if (!df) {
                    $(this).attr('dateformat', 'yyyy-mm-dd hh:ii:ss');
                }
                else {
                    // 把C#标准格式化替换为控件格式
                    df = df.replace('mm', 'ii').replace('MM', 'mm').replace('HH', 'hh');
                    $(this).attr('dateformat', df);
                }
            });
            $("[dateformat]").each(function () {
                $(this).datetimepicker({
                    format: $(this).attr("dateformat"),
                    autoclose: true,
                    language: "zh-CN",
                    forceParse: false,
                    startView: 2,
                    minView: 2,
                })
                //console.trace($(this));
            })
            $('input[role=number]').each(function () {
                $(this).removeAttr('class');
                $(this).addClass('spinbox-input form-control text-center');
                $(this).ace_spinner({ on_sides: true, icon_up: 'ace-icon fa fa-plus bigger-110', icon_down: 'ace-icon fa fa-minus bigger-110', btn_up_class: 'btn-success', btn_down_class: 'btn-danger' });
            });
            $('.multiselect').multiselect({
                enableFiltering: $(this).ops > 10,
                buttonClass: 'btn btn-white btn-primary',
                templates: {
                    button: '<button type="button" class="multiselect dropdown-toggle" data-toggle="dropdown"></button>',
                    ul: '<ul class="multiselect-container dropdown-menu"></ul>',
                    filter: '<li class="multiselect-item filter"><div class="input-group"><span class="input-group-addon"><i class="fa fa-search"></i></span><input class="form-control multiselect-search" type="text"></div></li>',
                    filterClearBtn: '<span class="input-group-btn"><button class="btn btn-default btn-white btn-grey multiselect-clear-filter" type="button"><i class="fa fa-times-circle red2"></i></button></span>',
                    li: '<li><a href="javascript:void(0);"><label></label></a></li>',
                    divider: '<li class="multiselect-item divider"></li>',
                    liGroup: '<li class="multiselect-item group"><label class="multiselect-group"></label></li>'
                },
                filterPlaceholder: '搜索',
                nonSelectedText: '无',
                allSelectedText: '全选'
            });
            @*双击跳转到form
            _List_Data_Action.cshtml变更
    @Html.ActionLink("编辑", "Edit", new { id = @Model },new{@class="editcell"})*@
            $('tr').dblclick(function () {
                var $this = $(this);
                var row = $this.closest("tr");
                var findcell = row.find('.editcell');
                if (findcell.length > 0) window.location.href = findcell.attr("href");
            });

        });
    </script>

    <!--开关插件-->
    @*<script src="~/Content/bootstrap-switch/bootstrapSwitch.js"></script>
        <script>
            $(function () {
                $("input[type=checkbox]").bootstrapSwitch();
            })
        </script>*@

    <script src="~/Content/fuelux/fuelux.spinner.min.js"></script>
</body>
</html>