@using NewLife.Common;
@{
    var p = Context.Request.CurrentExecutionFilePath;
    var ss = p.Split("/");
    if (ss != null && ss.Length > 1 && ss[ss.Length - 1].IsInt())
    {
        p = p.Substring(0, p.LastIndexOf("/"));
    }
    var menu = ManageProvider.Menu.Root.FindByPath(p);
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>@ViewBag.Title - @SysConfig.Current.DisplayName</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/bootstrap/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="~/bootstrap/css/ace-fonts.min.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/bootstrap/css/ace.min.css" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="~/bootstrap/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <!--[if lte IE 9]>
        <link rel="stylesheet" href="~/bootstrap/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="~/bootstrap/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="~/bootstrap/js/html5shiv.min.js"></script>
    <script src="~/bootstrap/js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-theme.min.css" type="text/css" />
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-responsive.min.css" type="text/css" />

    <link rel="stylesheet" href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" type="text/css" />

    @RenderSection("css", required: false)
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="ace-icon fa fa-home home-icon"></i>
            @if (menu != null)
            {
                foreach (IMenu item in menu.AllParents)
                {
                    if (item.ID != 0)
                    {
                        <a href="@(item.Url!=null? Url.Content(item.Url):"#")" class="h4">@item.DisplayName</a>
                        <text>&nbsp;/&nbsp;</text>
                    }
                }
            }
            <a href="@Url.Action("Index")" class="h4"><strong>@(menu != null ? menu.DisplayName : ViewBag.Title)</strong></a>
        </div>
        <div class="panel-body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </div>
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='@Url.Content("~/bootstrap/js/jquery-2.1.3.min.js")'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='@Url.Content("~/bootstrap/js/jquery1x.min.js")'>"+"<"+"/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>

    <!-- 下拉列表 -->
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-select.min.css" type="text/css" />
    <script src="~/bootstrap/js/bootstrap-select.min.js"></script>
    <script src="~/bootstrap/js/i18n/defaults-zh_CN.min.js"></script>

    @Scripts.Render("~/bootstrap_js")
    @RenderSection("scripts", required: false)

    <!--日历控件支持-->
    @*<script src="~/Content/My97DatePicker/WdatePicker.js"></script>*@
    <script src="~/Content/DateTimePicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/DateTimePicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script>
        $(function () {
            // 给所有type=date的input加上事件
            var dt = $("input[type=date]");
            if (dt.val("data-date-format")) {
                dt.data("data-date-format", "yyyy-mm-dd hh:ii:ss");
            }
            dt.datetimepicker({
                format: 'yyyy-mm-dd hh:ii:ss',
                minView: 2,
                autoclose: true,
                language: 'zh-CN',
                todayBtn: true
            });
        });
    </script>
</body>
</html>