@using NewLife;
@using NewLife.Web;
@using XCode;
@{
    var fact = ViewBag.Factory as IEntityOperate;
    var page = ViewBag.Page as Pager;
    var user = ViewBag.User as IUser ?? User.Identity as IUser;
}
<div class="tableTools-container">
    <div class="form-inline">
        <form action="@Url.Action("index")@Html.Raw("?" + page.GetBaseUrl(false, true, true))" method="post" role="form">
            @if (user.Has(PermissionFlags.Insert))
            {
                @Html.ActionLink("添加" + ViewContext.Controller.GetType().GetDisplayName(), "Add", null, new { @class = "btn btn-success btn-sm" })
            }
            <div class="pull-right form-group">
                @Html.Partial("_List_Search")
                @Html.Partial("_List_Toolbar_Search")
                @Html.Partial("_List_Toolbar_Adv")
            </div>
        </form>
    </div>
</div>