@using NewLife.Web;
@using XCode;
@using XCode.Web;
@using NewLife.Cube.Controllers;
@{
    Layout = "~/Views/Shared/_Ace_Layout.cshtml";

    var fact = EntityFactory.CreateOperate(ViewData.ModelMetadata.ModelType.GetGenericArguments()[0]);
    var page = ViewBag.Page as Pager;
}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-inline">
            <form action="@Url.Action("index")@Html.Raw("?" + page.GetBaseUrl(false, true, true)) " method=" get">
                <div class="validation-summary-valid" data-valmsg-summary="true">
                    <ul>
                        <li style="display:none"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label class="control-label" for="q">关键字：</label>
                    <input name="q" type="text" id="q" value="@Request["q"]" class="form-control" />
                </div>
                <input id="btnSearch" value="查询" type="submit" class="btn btn-primary" />
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped table-condensed">
            <thead>
                <tr>
                    @foreach (var item in fact.Fields)
                    {
                        <th><a href="@Html.Raw(page.GetSortUrl(item.Name))">@item.DisplayName</a></th>
                    }
                    <th style="width: 150px;">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entity in Model)
                {
                    <tr>
                        @foreach (var item in fact.Fields)
                        {
                            if (item.PrimaryKey)
                            {
                                <td>@entity[item.Name]</td>
                            }
                            else
                            {
                                <td>@entity[item.Name]</td>
                            }
                        }
                        <td>
                            <a href="@Url.Action("Form/" + entity[fact.Unique])">编辑</a>
                            <a href="@Url.Action("Delete/" + entity[fact.Unique])">删除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <p>
            @Html.Partial("_List_Pager")
        </p>
    </div>
</div>