@using NewLife;
@using NewLife.Web;
@using XCode;
@{
    var fact = ViewBag.Factory as IEntityOperate;
    var page = ViewBag.Page as Pager;
}
<div class="tableTools-container">
    <div class="form-inline">
        <form action="@Url.Action("index")@Html.Raw("?" + page.GetBaseUrl(false, true, true)) " method="post" role="form">
            @if (ManageProvider.User.Has(PermissionFlags.Insert))
            {
                @Html.ActionLink("添加" + ViewContext.Controller.GetType().GetDisplayName(), "Add", null, new { @class = "btn btn-success btn-sm" })
            }
            <div class="pull-right form-group">
                <div class="form-group">
                    <label for="category" class="control-label">类别：</label>
                    @Html.ForDropDownList("category", Log.FindAllCategoryName(), Request["category"], "全部", true)
                </div>
                <div class="form-group">
                    <label for="adminid" class="control-label">用户：</label>
                    @Html.ForDropDownList("adminid", UserX.FindAllWithCache(), "全部", true)
                </div>
                <div class="form-group">
                    <label for="dtStart" class="control-label">时间：</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="dtStart" id="dtStart" value="@Request["dtStart"]" dateformat="yyyy-MM-dd" class="form-control form_datetime" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="dtEnd" class="control-label">至</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="dtEnd" id="dtEnd" value="@Request["dtEnd"]" dateformat="yyyy-MM-dd" class="form-control form_datetime" />
                    </div>
                </div>
                <div class="input-group">
                    @Html.Partial("_List_Toolbar_Search")
                    @Html.Partial("_List_Toolbar_Adv")
                </div>
            </div>
        </form>
    </div>
</div>
