@using System.Reflection
@using XCode
@using XCode.Configuration
@{
    var fact = EntityFactory.CreateOperate(ViewData.ModelMetadata.ModelType);
    var isNew = (Model as IEntity).IsNullKey;
}
@functions {

    String GetWidth(FieldItem item)
    {
        switch (Type.GetTypeCode(item.Type))
        {
            case TypeCode.Boolean:
                return "col-md-6";
            case TypeCode.String:
                if (item.Length <= 0 || item.Length > 300)
                    return "col-md-6";
                else
                    return "col-md-6";
        }
        return "col-md-2";
    }
}
<div class="panel panel-default">
    <div class="form-horizontal">
        @if (ViewBag.StatusMessage != null)
        {
            <div class="alert alert-success alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@ViewBag.StatusMessage</strong>
            </div>
        }
        @using (Html.BeginForm("Save/" + (Object)Model[fact.Unique.Name], ViewContext.Controller.GetType().Name.TrimEnd("Controller")))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            foreach (var item in fact.Fields)
            {
                if (!item.PrimaryKey)
                {
                    <div class="form-group">
                        <label class="control-label col-md-2">@item.DisplayName</label>
                        <div class="@GetWidth(item)">
                            @if (item.Name.Contains("Phone"))
                            {
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-phone-alt"></span>
                                </span>
                            }
                            @Html.Partial("_Form_Item", new Pair(Model, item))
                            <p class="help-block">@(item.Description.TrimStart(item.DisplayName).TrimStart("。"))</p>
                        </div>
                    </div>
                }
            }
            <div class="form-actions">
                <label class="control-label col-md-4"></label>
                <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-@(isNew ? "plus" : "save")"></i><strong>@(isNew ? "新增" : "保存")</strong></button>
                <button type="button" class="btn btn-danger" onclick="history.go(-1);"><i class="glyphicon glyphicon-remove"></i><strong>取消</strong></button>
            </div>
        }
    </div>
</div>