@using System.Diagnostics;
@using NewLife.Common;
@using NewLife.Cube.Admin;
@{
    //ViewBag.Title = "服务器信息";
    var dbs = Model as IList<DbItem>;
}
<table class="table table-bordered table-hover table-striped table-condensed">
    <thead>
        <tr>
            <th class="text-center">名称</th>
            <th class="text-center">类型</th>
            <th class="text-center">连接字符串</th>
            <th class="text-center">版本</th>
            <th class="text-center">动态</th>
            <th class="text-center">备份</th>
            <th class="text-center">下载</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in dbs)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Type</td>
                <td>@item.ConnStr</td>
                <td>@item.Version</td>
                <td>
                    @if (item.Dynamic)
                    {
                        <text>是，</text>@Html.ActionLink("静态化", "SetStatic", new { Name = item.Name })
                    }
                    else
                    {
                        <text>否</text>
                    }
                </td>
                <td>@Html.ActionLink("备份", "Backup", new { Name = item.Name })，共 @item.Backups.ToString("n0")个</td>
                <td class="text-center">@Html.ActionLink("下载", "Download", new { Name = item.Name })</td>
            </tr>
        }
    </tbody>
</table>